@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;600&display=swap");

:root {
  --white: 255, 248, 240;
  --black: 30, 39, 44;
  --sand: 244, 208, 111;
  --orange: 255, 136, 17;
  --blue-green: 157, 217, 210;
  --dark-blue-green: 0, 128, 128;
  --dark-purple: 57, 47, 90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #171717;
}
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100;
}
.main-menu.sticky {
  padding: 5px 100px;
  background: #f5f5f5;
}
.main-menu .logo {
  position: relative;
  font-weight: 700;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu ul li {
  position: relative;
  list-style: none;
}
.main-menu ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #f5f5f5;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.topnav a:hover {
  padding: 6px 6px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #171717;
}

.main-menu.sticky .logo,
.main-menu.sticky ul li a {
  color: #171717;
}

#teamMembers {
  margin: 0;
  padding-top: 400px;
}

.teamMembers_heading {
  background: #171717;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#teamMembers h1 {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#teamMembers h1 span {
  display: inline-flex;
  color: #a1ff34;
}
#teamMembers h1 span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  color: #f5f5f5;
  border-bottom: 1.8px solid #a1ff34;
  letter-spacing: -1em;
}
#teamMembers h1:hover span:nth-child(even) {
  letter-spacing: 0em;
  transition-delay: 0.5s;
}
/* #teamMembers h1:hover span:nth-child(2) {
  transition-delay: 1.5s;
} */
.team_members {
  position: relative;
  max-width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  margin: 0 20px;
  background: #fff;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

.team_members .card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #333;
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}
.team_members .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
.team_members .card:hover .layer {
  top: 0;
}
.team_members .card .content {
  position: relative;
  z-index: 2;
}
.team_members .card .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.team_members .card .content .imgBx {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.team_members .card .content h2 {
  font-size: 18px;
  color: #fff;
}
.team_members .card .content h2 span {
  font-size: 14px;
  color: #03a9f4;
  transition: 0.5s;
}
.team_members .card:hover .content h2 span {
  color: #fff;
}

footer {
  font-family: "Athiti", sans-serif;
}

section a {
  font-style: 1em;

  transition-duration: 0.4s;
  color: rgb(var(--dark-blue-green));
}

section a:visited {
  color: rgb(var(--dark-purple));
}

section a:hover {
  font-size: 1.1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--dark-purple);

  background-color: rgb(var(--white));
  background-image: url(./topography.svg);

  border: 1px solid rgb(var(--sand));
}

footer h1 {
  font-size: 1.1em;
  font-weight: 600;

  color: rgb(var(--black));
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1em;
  padding: 0.5em;

  border-radius: 2em;

  background-color: rgb(var(--white));
}

/* Remove all animations and transitions for people who prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Small devices */
@media only screen and (max-width: 37.5em) {
  footer {
    flex-wrap: wrap;
  }
}

/* Extra-large devices */
@media only screen and (min-width: 81.25em) {
  footer {
    justify-content: center;
  }

  footer section {
    margin: 1em 5em;
  }
}

#contact_us {
  /* margin-left: 160px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  /* min-height: 100vh; */
}
.contactUs_conatiner {
  width: 80%;
  padding: 20px;
}
.contactUs_conatiner h2 {
  width: 100%;
  color: #45f3ff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.contactUs_conatiner .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contactUs_conatiner .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contactUs_conatiner .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}
.contactUs_conatiner .row100 .inputBox input,
.contactUs_conatiner .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.contactUs_conatiner .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.contactUs_conatiner .row100 .inputBox input:focus + .text,
.contactUs_conatiner .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.contactUs_conatiner .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.contactUs_conatiner .row100 .inputBox input:focus ~ .line,
.contactUs_conatiner .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.contactUs_conatiner .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.contactUs_conatiner .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.contactUs_conatiner .row100 .inputBox textarea:focus + .text,
.contactUs_conatiner .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.contactUs_conatiner .row100 .inputBox textarea:focus ~ .line,
.contactUs_conatiner .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
.contactUs_conatiner input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}
