@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --pure-white: #ffff;
  --white: #f5f5f5;
  --black: #171717;
  --dark-purple: #392f5a;
  --blue: #03a9f4;
  --dark-blue: #016492;
  --pink: #e91ee3;
  --green: #a1ff34;
  --light-grey: rgba(0, 0, 0, 0.2);
  --dark-grey: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--black);
}
.main-menu {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100;
}
.main-menu.sticky {
  padding: 5px 100px;
  background: var(--white);
  box-shadow: 0 0.5em 1em var(--black);
}
.main-menu .logo {
  position: relative;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu ul li {
  position: relative;
  list-style: none;
}
.main-menu ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.topnav a:hover {
  padding: 6px 6px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}

.main-menu.sticky .logo,
.main-menu.sticky ul li a {
  color: var(--black);
}

#teamMembers {
  margin-top: 40px;
  margin-bottom: 40px;
}

.teamMembers_heading {
  background: var(--black);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#teamMembers h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-grey);
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#teamMembers h1 span {
  display: inline-flex;
  color: var(--green);
}
#teamMembers h1 span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  color: var(--white);
  border-bottom: 1.8px solid var(--green);
  letter-spacing: -1em;
}
#teamMembers h1:hover span:nth-child(even) {
  letter-spacing: 0em;
  transition-delay: 0.5s;
}
/* #teamMembers h1:hover span:nth-child(2) {
  transition-delay: 1.5s;
} */
.team_members {
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height:auto;
  /* min-height: 350px; */
  margin: 0 20px;
  background: var(--pure-white);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

.team_members .card {
  position: relative;
  width: 100%;
  height:100%;
  margin: 0 auto;
  background: var(--dark-grey);
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}
.team_members .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--blue), var(--pink));
  z-index: 1;
  transition: 0.5s;
}
.team_members .card:hover .layer {
  top: 0;
}
.team_members .card .content {
  position: relative;
  z-index: 2;
}
.team_members .card .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: var(--pure-white);
}
.team_members .card .content .image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--pure-white);
  box-shadow: 0 10px 20px var(--light-grey);
}
.image-wrapper img{
  max-width:100%;
  max-height:100%;
}

.team_members .card .content h2 {
  font-size: 18px;
  color: var(--pure-white);
}
.team_members .card .content h2 span {
  font-size: 14px;
  color: var(--blue);
  transition: 0.5s;
}
.team_members .card:hover .content h2 span {
  color: var(--pure-white);
}
.team_members .card .content .details h2{
  margin-top:20px;
  margin-bottom:20px;
}
.team_members .card .content .social_links span{
  align-items:center;
  margin:8px;
  
}

section a {
  font-style: 1em;
  color: var(--white);
  text-decoration: none;
  transition-duration: 0.4s;
}

section a:visited {
  color: var(--white);
}

footer section a:hover {
  font-size: 1.1em;
  color: var(--blue);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1.5px;
  background-color: var(--dark-grey);
  color: var(--white);
  /* background-color: var(--white);
  background-image: url(./Pattern-Randomized.svg); */
}

footer h1 {
  border-bottom: 1px var(--green) solid;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;

  /* color: var(--black); */
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
  line-height: 1.5em;
  border-radius: 2em;

  /* background-color: var(--white); */
}

.introduction--wrapper {
  background-color: var(--dark-grey);
  width: 95%;
  position: relative;
  left: 60px;
  top: 40px;
  height: 450px;
}

.introduction {
  padding: 40px;
}
.introduction--title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 45px;

  color: var(--white);
  width: 100%;
  font-weight: 200;
  border-bottom: 1px var(--green) solid;
  line-height: 90px;
}

main h1 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 400;
}
main h2 {
  font-weight: 400;
}
main p {
  line-height: 35px;
}

.purpose {
  color: var(--white);
  margin-bottom: 20px;
}
.purpose-title {
  width: 100%;
  margin-bottom: 20px;
}
.projects {
  color: var(--white);
  margin-bottom: 20px;
}
.projects-title {
  width: 100%;
  margin-bottom: 20px;
}

#thanks-container {
  margin-top: 5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#thanks-container h1 {
  margin-bottom: 1.5em;
}

.thanks-card {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: auto;

  margin-bottom: 3em;

  color: var(--black);
  background-color: var(--white);
  box-shadow: 0.5em 2em 1em var(--black);
}

.thanks-text {
  padding: 1.5em;
}

.thanks-card img {
  max-width: 20em;
  height: auto;
}

.thanks-card h2 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.thanks-card h3 {
  font-size: 0.75em;
  margin: 1em 0 0.5em;
}

.thanks-card p {
  font-size: 0.75em;
  line-height: 1.3em;
}

.thanks-card p {
  margin-bottom: 1em;
}

/* Remove all animations and transitions for people who prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Very small devices */
@media only screen and (max-width: 20em) {
  #thanks-container h1 {
    font-size: 1.1em;
  }
}

/* Small devices */
@media only screen and (max-width: 37.5em) {
  footer {
    flex-wrap: wrap;
  }

  #thanks-container {
    align-items: flex-start;
  }

  #thanks-container h1 {
    align-self: center;
  }

  .thanks-card {
    width: 100%;
  }

  .thanks-card img {
    max-width: 100%;
  }
}

/* Extra-large devices */
@media only screen and (min-width: 81.25em) {
  footer {
    justify-content: center;
  }

  footer section {
    margin: 1em 5em;
  }
}

#contact_us {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  margin-top: 40px;
  margin-bottom: 40px;
}
.contactUs_container {
  width: 90%;
  padding: 20px;
}
.contactUs_container h2 {
  width: 100%;
  color: var(--green);
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
.contactUs_container .form-group {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contactUs_container .form-group .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contactUs_container .form-group .input-box-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--green);
}
.contactUs_container .form-group .input-box-wrapper input,
.contactUs_container .form-group .input-box-wrapper.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: var(--white);
}
.contactUs_container .form-group .input-box-wrapper .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.contactUs_container .form-group .input-box-wrapper input:focus + .text,
.contactUs_container .form-group .input-box-wrapper input:valid + .text {
  top: -35px;
  left: -10px;
}

.contactUs_container .form-group .input-box-wrapper .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
  color: var(--black);
}
.contactUs_container .form-group .input-box-wrapper input:focus ~ .line,
.contactUs_container .form-group .input-box-wrapper input:valid ~ .line {
  height: 100%;
}

.contactUs_container .form-group .input-box-wrapper.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.contactUs_container .form-group .input-box-wrapper.textarea textarea {
  height: 100%;
  resize: none;
}
.contactUs_container .form-group .input-box-wrapper textarea:focus + .text,
.contactUs_container .form-group .input-box-wrapper textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.contactUs_container .form-group .input-box-wrapper textarea:focus ~ .line,
.contactUs_container .form-group .input-box-wrapper textarea:valid ~ .line {
  height: 100%;
}
.contactUs_container button[type='submit'] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: var(--white);
  color: var(--black);
  font-size: 18px;
  border-radius: 2px;
}
.contactUs_container button[type='submit'].active {
  content: 'Submitted';
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: var(--green);
  color: var(--black);
  font-size: 18px;
  border-radius: 2px;
}

@media only screen and (max-width: 980px) {
  .introduction--title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .introduction--title {
    font-size: 26px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .introduction--title {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.contact-team-member {
  margin-top:25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-team-member a:hover{
  font-size: 1em;
  color:var(--blue);
  font-weight: bold;
  background-color: var(--white);
  height: 45px;
  border-radius: 10px;
  padding: 10px;
}
