@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --pure-white: #ffff;
  --white: #f5f5f5;
  --pure-black: #000000;
  --opaque-black: rgba(0,0,0,0.6);
  --black: #171717;
  --dark-purple: #392f5a;
  --blue: #03a9f4;
  --dark-blue: #016492;
  --pink: #e91ee3;
  --green: #a1ff34;
  --light-grey: rgba(0, 0, 0, 0.2);
  --dark-grey: #363636;
  --very-light-grey:rgb(109, 108, 108);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--white);
  background: var(--black);
}

main h1 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 400;
}
main h2 {
  font-weight: 400;
}
main p {
  line-height: 2.2em;
}

/* Main menu */

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  width: 90%;
  z-index: 100;

  margin: 0em auto;
}

.main-menu a.icon {
  display: none;
}

.main-menu.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 5%;
  width: 90%;
  z-index: 100;
  background: var(--black);
  position: fixed;
}

.main-menu.sticky ul li a {
  color: var(--white);
}

.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li a {
  margin-left:2em;
  margin-right: 0;

  color: var(--white);
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;

  transition: 0.5s;
}

.topnav a:hover {
  padding: 0.4em;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}

.team-logo {
  width: 5.33em;
  height: 5.33em;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Introduction section */

.introduction--wrapper,
.introduction--title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.introduction--wrapper {
  align-content: center;
  margin-top: 1.5em;
}

.introduction {
  width: 90%;
  padding: 2.5em;
  background-color: var(--dark-grey);
}

.introduction--title {
  font-size: 2.8em;
  font-weight: 200;
  line-height: 2em;

  margin-bottom: 0.5em;
  border-bottom: 1px var(--green) solid;
}

.purpose,
.purpose-title {
  margin-bottom: 1.25em;
}

.purpose-title {
  width: 100%;
}
.purpose-paragraph  p{
 font-size: 1.2em;
}


/* ABOUT US */

.about-us {
  margin-top: 2em;
}

summary {
  font-size: 1.2em;
  outline: none;
}

summary:focus,
summary:focus::-webkit-details-marker {
  color:var(--green);
}

details {
  padding: 1em;
}

details p {
  margin: 10px;
  font-size: 1.1em;
  line-height: 1.2em;
}

/* projects section */

.projects--wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 1.5em;
}

.projects--title {
  text-align:center;
  padding: 1.5em;
  background-color: var(--dark-grey);
  width: 90%;
  font-size: 1.8em;
  line-height: 2em;

}
.projects--title h1{
  border-bottom: 1px var(--green) solid;
}

.projects {
  width: 90%;
  padding: 1.5em;
  background-color: var(--dark-grey);
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.sleep-quality img{
  height:100%;
  width: 100%;
  max-height:18em;
 max-width:26em;
 border-radius:0.4em;
 margin-top: 1em;

}

.sleep-quality p,
.tamagotchi p {
  font-size: 1.2em;
  margin-bottom: 2px;
}

.sleep-quality {
  display:inline-block;
  margin:2em;
  text-align:center;
}

.tamagotchi img{
  height:100%;
  width: 100%;
  max-height:18em;
  max-width:26em;
  border-radius:0.4em;
  margin-top: 1em;

}

.tamagotchi {
  display:inline-block;
  margin:2em;
  text-align:center;
}



/* Team members h1 header */

.team-header{
  margin:1.5em 1.5em;
  text-align:center;

}
.team-header h1{
  display:inline-block;
  font-size: 3.4em;
  border-bottom: 0.05em solid var(--green);
  color: var(--white);
}

/* Team cards */

.team-card-wrapper{
  margin-left:3.2rem;
  margin-right:3.2rem;
  height:auto;
  width: auto;
  display: flex;
  align-content:center;
  justify-content:center;
  flex-wrap:wrap;
  color: var(--white);
  font-size: 1.1em;
  line-height: 1.2em;

}
.team-card {
  text-align:center;
  background-color: var(--dark-grey);
  margin:1.5em 1.5em;
  max-width: 100%;
  margin-bottom: 1.25em;
  width: 18.75rem;
  height: 31.25rem;
  border: 0.06em solid var(--light-grey);
  overflow: hidden;
  perspective:62.5em;
  transition: background-color 0.5s ease;
  border-radius:0.62em;
}

.image-wrapper {
  width: 6.25em;
  height: 6.25em;
  margin: 0 auto 0.625em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25em solid var(--white);
  box-shadow: 0 0.62em 1.25em var(--light-grey);
}
.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.team-card p{
  padding:1.25em;
  font-size: 1em;
  color: var(--white);
}
.team-card h2 {
  font-size: 1.125em;
  padding-bottom:1.25em;
  color: var(--white);
}
.team-card span {
  font-size: 0.7em;
  color: var(--blue);
  transition: 0.5s;
}
.team-card:hover  h2 span {
  color: var(--white);

}
.team-card .details span {
  padding-top: 2.5em;
  padding-bottom: 1.25em;
}
.team-card .social_links a {
  align-items: flex-end;
  margin: 0.5em;
  color: var(--white);
  text-decoration: none;

}
.contact-team-member a{
  color: var(--white);
  text-decoration:none;

}
.contact-team-member {
  margin-top: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  color:var(--white);
}

 .contact-team-member a:hover {
  font-size: 1em;
  color: var(--blue);
  font-weight: bold;
  background-color:var(--white);
  height: 2em;
  border-radius: 0.62em;
  padding: 0.62em;
}

.social_links .fab:hover  {
  transform:scale(1.3);
}

.team-card:hover{
  background-color:var(--very-light-grey);
  border:0.1em solid var(--green);
}


/* Footer section */

footer {
  display: block;
  margin-top: 3em;
  padding: 2em;
  background-color: var(--dark-grey);
  color: var(--white);
  letter-spacing: 0.1em;
}

footer h1 {
  margin-bottom: 0.6em;
  border-bottom: 1px var(--green) solid;
  font-size: 1.2em;
  font-weight: 600;
  height:3em;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.footer-links section {
  margin: 1em;
  padding: 0.5em;
  line-height: 1.5em;
  width: 15%;
}


#team a,
footer section a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.4s;
}

footer section a:hover {
  font-size: 1.1em;
  color: var(--blue);
}

footer section a:visited {
  font-size: 1.1em;
  color: var(--blue);
}

.copyright {
  margin: 1em;
  padding: 0.5em;
  line-height: 1.7em;
}
.copyright a {
  color: var(--white);
}
.copyright a:hover {
  color: var(--blue);
}
.copyright a:visited {
  color: var(--blue);
}

/* Special thank you page */


.thanks-wrapper,
.thanks-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.thanks{
  width: 90%;
  padding: 2.5em;
  background-color: var(--dark-grey);
}

.thanks-title{
  font-size: 2.8em;
  font-weight: 200;
  line-height: 2em;

  margin-bottom: 0.5em;
  border-bottom: 1px var(--green) solid;
}


#thanks-container,
.thanks-card {
  display: flex;
  flex-direction: column;
}

#thanks-container {
  align-items: center;
  margin-top: 5em;
}

#thanks-container h1 {
  color: var(--white);
  margin-bottom: 1.5em;
}

#thanks-container a {
  color: var(--dark-grey);
}

#thanks-container a:hover,
#thanks-container a:visited {
  color: var(--dark-purple);
  font-weight: 600;
}

.thanks-card {
  width: 20em;
  height: auto;

  margin-bottom: 3em;

  color: var(--black);
  background-color: var(--white);
  box-shadow: 0.5em 2em 1em var(--black);
}

.thanks-card h2 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.thanks-card h3,
.thanks-card p {
  font-size: 0.75em;
}

.thanks-card h3 {
  margin: 1em 0 0.5em;
}

.thanks-card p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

.thanks-card img {
  max-width: 20em;
  height: auto;
}

.thanks-text {
  padding: 1.5em;
}

/* Remove all animations and transitions for people who prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Very small devices */
@media only screen and (max-width: 20em) {
  #thanks-container h1 {
    font-size: 1.1em;
  }
}

/* Small devices */
@media only screen and (max-width: 37.5em) {
  footer {
    flex-wrap: wrap;
  }

  #thanks-container {
    align-items: flex-start;
  }

  #thanks-container h1 {
    align-self: center;
  }

  .thanks-card {
    width: 100%;
  }

  .thanks-card img {
    max-width: 100%;
  }

  .main-menu img {
    max-width: 75%;
  }

  .sleep-quality img{
    max-height: 10em;
    max-width: 20em;
  }
  .tamagotchi img{
    max-height: 10em;
    max-width: 20em;
  }
}

/* Medium devices - 960px */
@media only screen and (max-width: 61.25em) {
  .introduction--title, .thanks-title {
    font-size: 1.6em;
  }

  .main-menu ul li {
    display: none;
  }

  .main-menu a.icon {
    display: flex;
    margin-left: auto;
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
  }

  .main-menu.responsive {
    display: flex;
    flex-wrap: wrap;
  }

  .main-menu.responsive ul {
    flex-direction: column;
    align-items: baseline;
    flex-basis: 100%;
    margin-top: 20px;
  }
  /* --- */

  .main-menu.responsive ul li {
    display: block;
  }

  .main-menu.responsive ul li a {
    color: var(--white);
    display: block;
    float: none;
    text-align: left;
    padding: 3px 0;
  }
  .footer-links {
    display: block;
  }
  .footer-links section {
    width: 100%;
  }

  .copyright {
    font-size: 0.7em;
  }
}

/* Extra-large devices */
@media only screen and (min-width: 81.25em) {

  #thanks-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-around;
  }


  #thanks-container h1 {
    align-self: center;
    grid-column: 1/ span 3;
  }

  .thanks-card {
    grid-column: span 1;
  }

  .thanks-card img {
    max-width: 100%;
  }


  footer {
    justify-content: center;
  }

  footer section {
    margin: 1em 5em;
  }
}

/* Styles for the modal pop on "Join Us" on the navbar"*/
.modal {
  display: none;
  position: fixed;
  padding-top:3em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: var(--pure-black);
  background-color: var(--opaque-black);

}
.modal-content {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  border-radius:0.3em;
  text-align:center;
  background-color:var(--very-light-grey);
  padding: 1.5em;
  margin: auto;
  width:50%;
}
.modal-content h2{
  width:100%;
  text-align:center;

}

.modal-content span{
  width:100%;
  margin-left:94%;

}
.modal-content p{
  margin:1.8em 0.8em;
  width:100%;
  letter-spacing: 0.1em;
}
.modal-content button{
  text-align:center;
  text-decoration:none;
  color:var(--white);
  background-color: var(--very-light-grey);
  padding:0.8em 2em;
  margin:auto;
  font-size:0.7em;
  border-radius: 0.3em;
  border:0.1em solid var(--green);

}
.modal-content a{
  text-decoration:none;
  font-size:1.5em;
  color:var(--white);
}

.modal-content button:hover{
  border: 0.3em solid var(--green);
  margin:-0.196em;;
}
.close {
  width:50%;
  color: var(--green);
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}
