@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --pure-white: #ffff;
  --white: #f5f5f5;
  --black: #171717;
  --dark-purple: #392f5a;
  --blue: #03a9f4;
  --dark-blue: #016492;
  --pink: #e91ee3;
  --green: #a1ff34;
  --light-grey: rgba(0, 0, 0, 0.2);
  --dark-grey: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--white);
  background: var(--black);
}

main h1 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 400;
}
main h2 {
  font-weight: 400;
}
main p {
  line-height: 2.2em;
}

/* Main menu */

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  transition: 0.6s;

  padding: 2.5em 6.25em;
}

.main-menu.sticky {
  padding: 0.33em 6.25em;
  background: var(--white);
  box-shadow: 0 0.5em 1em var(--black);
}

.main-menu.sticky ul li a {
  color: var(--black);
}

.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li a {
  margin: 0 1em;

  color: var(--white);
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;

  transition: 0.5s;
}

.topnav a:hover {
  padding: 0.4em;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}

.team-logo {
  width: 5.33em;
  height: 5.33em;
}

/* Introduction section */

.introduction--wrapper,
.introduction--title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.introduction--wrapper {
  align-content: center;
  margin-top: 1.5em;
}

.introduction {
  width: 90%;
  padding: 2.5em;
  background-color: var(--dark-grey);
}

.introduction--title {
  font-size: 2.8em;
  font-weight: 200;
  line-height: 2em;

  margin-bottom: 0.5em;
  border-bottom: 1px var(--green) solid;
}

.purpose,
.purpose-title,
.projects,
.projects-title {
  margin-bottom: 1.25em;
}

.purpose-title,
.projects-title {
  width: 100%;
}

/* Team members section */

#team {
  margin: 2.5em 0;
}

#team h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.4em;
  text-transform: uppercase;

  margin-bottom: 0.75em;

  height: 1em;
}

#team h1 span {
  display: inline-flex;
  color: var(--green);
}

#team h1 span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  color: var(--white);
  border-bottom: 1.8px solid var(--green);
  letter-spacing: -1em;
}

#team h1:hover span:nth-child(even) {
  letter-spacing: 0em;
  transition-delay: 0.5s;
}

.team_members {
  margin: 0 5.6em;
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_members .card {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--dark-grey);
  padding: 3.75em 2.5em;
  text-align: center;
  overflow: hidden;
}

.team_members .card .layer {
  position: absolute;
  top: calc(100% - 0.125em);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--blue), var(--pink));
  z-index: 1;
  transition: 0.5s;
}

.team_members .card:hover .layer {
  top: 0;
}

.team_members .card .content {
  position: relative;
  z-index: 2;
}

.team_members .card .content h2 {
  font-size: 1.1em;
  color: var(--pure-white);
}
.team_members .card .content h2 span {
  font-size: 0.825em;
  color: var(--blue);
  transition: 0.5s;
}
.team_members .card:hover .content h2 span {
  color: var(--pure-white);
}

.team_members .card .content p {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 1.25em;
  color: var(--pure-white);
}

.team_members .card .content .details h2 {
  margin: 1.25em 0;
}
.team_members .card .content .social_links span {
  align-items: center;
  margin: 0.5em;
}

.team_members .card .content .image-wrapper {
  width: 6.25em;
  height: 6.25em;
  margin: 0 auto 0.6em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25em solid var(--pure-white);
  box-shadow: 0 10px 20px var(--light-grey);
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.contact-team-member {
  margin-top: 1.6em;
  font-weight: bold;
  letter-spacing: 0.125em;
}

#team .contact-team-member a:hover {
  font-size: 1em;
  color: var(--blue);
  font-weight: bold;
  background-color: var(--white);
  height: 2.8em;
  border-radius: 10px;
  padding: 0.6em;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 22em;
  height: auto;

  margin: 0 1.25em;
  background: var(--pure-white);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

/* Footer section */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--dark-grey);
  color: var(--white);
  letter-spacing: 0.1em;
}

footer h1 {
  margin-bottom: 0.6em;
  border-bottom: 1px var(--green) solid;

  font-size: 1.2em;
  font-weight: 600;
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1em;
  padding: 0.5em;
  line-height: 1.5em;
  border-radius: 2em;
}

#team a,
footer section a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;

  transition-duration: 0.4s;
}

footer section a:hover {
  font-size: 1.1em;
  color: var(--blue);
}

/* Special thank you page */

#thanks-container,
.thanks-card {
  display: flex;
  flex-direction: column;
}

#thanks-container {
  align-items: center;
  margin-top: 5em;
}

#thanks-container h1 {
  color: var(--white);
  margin-bottom: 1.5em;
}

#thanks-container a {
  color: var(--dark-grey);
}

#thanks-container a:hover,
#thanks-container a:visited {
  color: var(--dark-purple);
  font-weight: 600;
}

.thanks-card {
  width: 20em;
  height: auto;

  margin-bottom: 3em;

  color: var(--black);
  background-color: var(--white);
  box-shadow: 0.5em 2em 1em var(--black);
}

.thanks-card h2 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.thanks-card h3,
.thanks-card p {
  font-size: 0.75em;
}

.thanks-card h3 {
  margin: 1em 0 0.5em;
}

.thanks-card p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

.thanks-card img {
  max-width: 20em;
  height: auto;
}

.thanks-text {
  padding: 1.5em;
}

/* Remove all animations and transitions for people who prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Very small devices */
@media only screen and (max-width: 20em) {
  #thanks-container h1 {
    font-size: 1.1em;
  }
}

/* Small devices */
@media only screen and (max-width: 37.5em) {
  footer {
    flex-wrap: wrap;
  }

  #thanks-container {
    align-items: flex-start;
  }

  #thanks-container h1 {
    align-self: center;
  }

  .thanks-card {
    width: 100%;
  }

  .thanks-card img {
    max-width: 100%;
  }

  .main-menu img {
    max-width: 75%;
  }
}

/* Medium devices */
@media only screen and (max-width: 61.25em) {
  .introduction--title {
    font-size: 1.6em;
  }
}

/* Extra-large devices */
@media only screen and (min-width: 81.25em) {
  footer {
    justify-content: center;
  }

  footer section {
    margin: 1em 5em;
  }
}
