@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --pure-white: #ffff;
  --white: #f5f5f5;
  --pure-black: #000000;
  --opaque-black: rgba(0,0,0,0.6);
  --black: #171717;
  --dark-purple: #392f5a;
  --blue: #03a9f4;
  --dark-blue: #016492;
  --pink: #e91ee3;
  --green: #a1ff34;
  --light-grey: rgba(0, 0, 0, 0.2);
  --dark-grey: #363636;
  --very-light-grey:rgb(109, 108, 108);
  --azure:	#F0FFFF;
  --mintcream:	#F5FFFA;
  --snow:	#FFFAFA;
  --ivory:	#FFFFF0;
  --ghostwhite:	#F8F8FF;	
  --floralwhite:	#FFFAF0;
  --aliceblue:	#F0F8FF;
  --lightcyan:	#E0FFFF;	
  --honeydew:	#F0FFF0;	
  --lightyellow:	#FFFFE0;	
  --seashell:	#FFF5EE;	
  --lavenderblush:	#FFF0F5;
  --whitesmoke:	#F5F5F5;
  --oldlace:	#FDF5E6;
  --cornsilk:	#FFF8DC;	
  --linen:	#FAF0E6;
  --lightgoldenrodyellow:	#FAFAD2;
  --lemonchiffon:	#FFFACD;	
  --beige:	#F5F5DC;
  --lavender:	#E6E6FA;
  --papayawhip:	#FFEFD5;
  --mistyrose:	#FFE4E1;
  --antiquewhite:	#FAEBD7;
  --blanchedalmond:	#FFEBCD;
  --bisque:	#FFE4C4;
  --paleturquoise:	#AFEEEE;	
  --moccasin:	#FFE4B5;
  --gainsboro:	#DCDCDC;
  --peachpuff:	#FFDAB9;
  --navajowhite:	#FFDEAD;
  --palegoldenrod:	#EEE8AA;
  --wheat:	#F5DEB3;
  --powderblue:	#B0E0E6;
  --aquamarine:	#7FFFD4;
  --lightgrey:	#D3D3D3;
  --hexpink:	#FFC0CB;
  --lightblue:	#ADD8E6;
  --thistle:	#D8BFD8;
  --lightpink:	#FFB6C1;
  --lightskyblue:	#87CEFA;
  --palegreen:	#98FB98;
  --lightsteelblue:	#B0C4DE;
  --khaki:	#F0D58C;
  --skyblue:	#87CEEB;
  --aqua:	#00FFFF;
  --cyan:	#00FFFF;
  --silver:	#C0C0C0;
  --plum:	#DDA0DD;
  --gray:	#BEBEBE;
  --lightgreen:	#90EE90;
  --violet:	#EE82EE;
  --yellow:	#FFFF00;
  --turquoise:	#40E0D0;
  --burlywood:	#DEB887;
  --greenyellow:	#ADFF2F;
  --tan:	#D2B48C;
  --mediumturquoise:	#48D1CC;
  --lightsalmon:	#FFA07A;
  --mediumaquamarine:	#66CDAA;
  --darkgray:	#A9A9A9;
  --orchid:	#DA70D6;
  --darkseagreen:	#8FBC8F;
  --deepskyblue:	#00BFFF;
  --sandybrown:	#F4A460;
  --gold:	#FFD700;
  --mediumspringgreen:	#00FA9A;
  --darkkhaki:	#BDB76B;
  --cornflowerblue:	#6495ED;
  --hotpink:	#FF69B4;
  --darksalmon:	#E9967A;
  --darkturquoise:	#00CED1;
  --springgreen:	#00FF7F;
  --lightcoral:	#F08080;
  --rosybrown:	#BC8F8F;
  --salmon:	#FA8072;
  --chartreuse:	#7FFF00;
  --mediumpurple:	#9370DB;
  --lawngreen:	#7CFC00;
  --dodgerblue:	#1E90FF;
  --yellowgreen:	#9ACD32;
  --palevioletred:	#DB7093;
  --mediumslateblue:	#7B68EE;
  --mediumorchid:	#BA55D3;
  --coral:	#FF7F50;
  --cadetblue:	#5F9EA0;
  --lightseagreen:	#20B2AA;
  --goldenrod:	#DAA520;
  --orange:	#FFA500;
  --lightslategray:	#778899;
  --fuchsia:	#FF00FF;
  --magenta:	#FF00FF;
  --mediumseagreen:	#3CB371;
  --peru:	#CD853F;
  --steelblue:	#4682B4;
  --royalblue:	#4169E1;
  --slategray:	#708090;
  --tomato:	#FF6347;
  --darkorange:	#FF8C00;
  --slateblue:	#6A5ACD;
  --limegreen:	#32CD32;
  --lime:	#00FF00;
  --indianred:	#CD5C5C;
  --darkorchid:	#9932CC;
  --blueviolet:	#8A2BE2;
  --deeppink:	#FF1493;
  --darkgoldenrod:	#B8860B;
  --chocolate:	#D2691E;
  --darkcyan:	#008B8B;
  --dimgray:	#696969;
  --olivedrab:	#6B8E23;
  --seagreen:	#2E8B57;
  --teal:	#008080;
  --darkviolet:	#9400D3;
  --mediumvioletred:	#C71585;
  --orangered:	#FF4500;
  --olive:	#808000;
  --sienna:	#A0522D;
  --darkslateblue:	#483D8B;
  --darkolivegreen:	#556B2F;
  --forestgreen:	#228B22;
  --crimson:	#DC143C;
  --hexblue:	#0000FF;
  --darkmagenta:	#8B008B;
  --darkslategray:	#2F4F4F;
  --saddlebrown:	#8B4513;
  --brown:	#A52A2A;
  --firebrick:	#B22222;
  --purple:	#800080;
  --hexgreen:	#008000;
  --red:	#FF0000;
  --mediumblue:	#0000CD;
  --indigo:	#4B0082;
  --midnightblue:	#191970;
  --darkgreen:	#006400;
  --darkblue:	#00008B;
  --navy:	#000080;
  --darkred:	#8B0000;
  --maroon:	#800000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--white);
  background: var(--black);
}

main h1 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 400;
}
main h2 {
  font-weight: 400;
}
main p {
  line-height: 2.2em;
}

/* Main menu */

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  width: 90%;
  z-index: 100;

  transition: 0.6s;

  margin: 2.5em auto;
}

.main-menu a.icon {
  display: none;
}

.main-menu.sticky {
  padding: 0.33em 6.25em;
  background: var(--white);
  box-shadow: 0 0.5em 1em var(--black);
}

.main-menu.sticky ul li a {
  color: var(--black);
}

.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li a {
  margin-left:2em;
  margin-right: 0;

  color: var(--white);
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;

  transition: 0.5s;
}

.topnav a:hover {
  padding: 0.4em;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}

.team-logo {
  width: 5.33em;
  height: 5.33em;
}

/* Introduction section */

.introduction--wrapper,
.introduction--title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.introduction--wrapper {
  align-content: center;
  margin-top: 1.5em;
}

.introduction {
  width: 90%;
  padding: 2.5em;
  background-color: var(--dark-grey);
}

.introduction--title {
  font-size: 2.8em;
  font-weight: 200;
  line-height: 2em;

  margin-bottom: 0.5em;
  border-bottom: 1px var(--green) solid;
}

.purpose,
.purpose-title {
  margin-bottom: 1.25em;
} 

.purpose-title {
  width: 100%;
} 
.purpose-paragraph  p{
 font-size: 1.2em;
}


/* ABOUT US */

.about-us {
  margin-top: 2em;
}

summary {
  font-size: 1.2em;
  outline: none;
}

summary:focus,
summary:focus::-webkit-details-marker {
  color:var(--green);
}

details {
  padding: 1em;
}

details p {
  margin: 10px;
  font-size: 1.1em;
  line-height: 1.2em;
}

/* projects section */

.projects--wrapper {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 1.5em;
}

.projects--title {
  text-align:center;
  padding: 1.5em;
  background-color: var(--dark-grey);
  width: 90%;
  font-size: 1.8em;
  line-height: 2em;
  
}
.projects--title h1{
  border-bottom: 1px var(--green) solid;
}

.projects {
  width: 90%;
  padding: 1.5em;
  background-color: var(--dark-grey);
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.sleep-quality img{
  height:100%;
  width: 100%;
  max-height:18em;
 max-width:26em;
 border-radius:0.4em;
 margin-top: 1em;

}

.sleep-quality p,
.tamagotchi p {
  font-size: 1.2em;
  margin-bottom: 2px;
}

.sleep-quality {
  display:inline-block;
  margin:2em;
  text-align:center;
}

.tamagotchi img{
  height:100%;
  width: 100%;
  max-height:18em;
  max-width:26em;
  border-radius:0.4em;
  margin-top: 1em;

}

.tamagotchi {
  display:inline-block;
  margin:2em;
  text-align:center;
}



/* Team members h1 header */

.team-header{
  margin:1.5em 1.5em;
  text-align:center;
  
} 
.team-header h1{
  display:inline-block;
  font-size: 3.4em;
  border-bottom: 0.05em solid var(--green);
  color: var(--white);
}

/* Team cards */

.team-card-wrapper{
  margin-left:3.2rem;
  margin-right:3.2rem;
  height:auto;
  width: auto;
  display: flex;
  align-content:center;
  justify-content:center;
  flex-wrap:wrap;
  color: var(--white);
  font-size: 1.1em;
  line-height: 1.2em;
  
}
.team-card {
  text-align:center;
  background-color: var(--dark-grey);
  margin:1.5em 1.5em;
  max-width: 100%;
  margin-bottom: 1.25em;
  width: 18.75rem;
  height: 31.25rem; 
  border: 0.06em solid var(--light-grey);
  overflow: hidden;
  perspective:62.5em; 
  transition: background-color 0.5s ease;
  border-radius:0.62em;
}

.image-wrapper {
  width: 6.25em;
  height: 6.25em;
  margin: 0 auto 0.625em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25em solid var(--white);
  box-shadow: 0 0.62em 1.25em var(--light-grey);
}
.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.team-card p{
  padding:1.25em;
  font-size: 1em;
  color: var(--white);
}
.team-card h2 {
  font-size: 1.125em;
  padding-bottom:1.25em;
  color: var(--white);
}
.team-card span {
  font-size: 0.7em;
  color: var(--blue);
  transition: 0.5s;
}
.team-card:hover  h2 span {
  color: var(--white);

}
.team-card .details span {
  padding-top: 2.5em;
  padding-bottom: 1.25em;
}
.team-card .social_links a {
  align-items: flex-end;
  margin: 0.5em;
  color: var(--white);
  text-decoration: none;

}
.contact-team-member a{
  color: var(--white);
  text-decoration:none;

}
.contact-team-member {
  margin-top: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  color:var(--white);
}

 .contact-team-member a:hover {
  font-size: 1em;
  color: var(--blue);
  font-weight: bold;
  background-color:var(--white);
  height: 2em;
  border-radius: 0.62em;
  padding: 0.62em;
}

.social_links .fab:hover  {
  transform:scale(1.3);
}

.team-card:hover{
  background-color:var(--very-light-grey);
  border:0.1em solid var(--green);
}


/* Footer section */

footer {
  display: block;
  margin-top: 3em;
  padding: 2em;
  background-color: var(--dark-grey);
  color: var(--white);
  letter-spacing: 0.1em;
}

footer h1 {
  margin-bottom: 0.6em;
  border-bottom: 1px var(--green) solid;

  font-size: 1.2em;
  font-weight: 600;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.footer-links section {
  margin: 1em;
  padding: 0.5em;
  line-height: 1.5em;
  width: 15%;
}


#team a,
footer section a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.4s;
}

footer section a:hover {
  font-size: 1.1em;
  color: var(--blue);
}

footer section a:visited {
  font-size: 1.1em;
  color: var(--blue);
}

.copyright {
  margin: 1em;
  padding: 0.5em;
  line-height: 1.7em;
}
.copyright a {
  color: var(--white);
}
.copyright a:hover {
  color: var(--blue);
}
.copyright a:visited {
  color: var(--blue);
}

/* Special thank you page */

#thanks-container,
.thanks-card {
  display: flex;
  flex-direction: column;
}

#thanks-container {
  align-items: center;
  margin-top: 5em;
}

#thanks-container h1 {
  color: var(--white);
  margin-bottom: 1.5em;
}

#thanks-container a {
  color: var(--dark-grey);
}

#thanks-container a:hover,
#thanks-container a:visited {
  color: var(--dark-purple);
  font-weight: 600;
}

.thanks-card {
  width: 20em;
  height: auto;

  margin-bottom: 3em;

  color: var(--black);
  background-color: var(--white);
  box-shadow: 0.5em 2em 1em var(--black);
}

.thanks-card h2 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.thanks-card h3,
.thanks-card p {
  font-size: 0.75em;
}

.thanks-card h3 {
  margin: 1em 0 0.5em;
}

.thanks-card p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

.thanks-card img {
  max-width: 20em;
  height: auto;
}

.thanks-text {
  padding: 1.5em;
}

/* Remove all animations and transitions for people who prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Very small devices */
@media only screen and (max-width: 20em) {
  #thanks-container h1 {
    font-size: 1.1em;
  }
}

/* Small devices */
@media only screen and (max-width: 37.5em) {
  footer {
    flex-wrap: wrap;
  }

  #thanks-container {
    align-items: flex-start;
  }

  #thanks-container h1 {
    align-self: center;
  }

  .thanks-card {
    width: 100%;
  }

  .thanks-card img {
    max-width: 100%;
  }

  .main-menu img {
    max-width: 75%;
  }
}

/* Medium devices - 960px */
@media only screen and (max-width: 61.25em) {
  .introduction--title {
    font-size: 1.6em;
  }

  .main-menu ul li {
    display: none;
  }

  .main-menu a.icon {
    display: flex;
    margin-left: auto;
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
  }

  .main-menu.responsive {
    display: flex;
    flex-wrap: wrap;
  }

  .main-menu.responsive ul {
    flex-direction: column;
    align-items: baseline;
    flex-basis: 100%;
    margin-top: 20px;
  }
  /* --- */

  .main-menu.responsive ul li {
    display: block;
  }

  .main-menu.responsive ul li a {
    color: var(--white);
    display: block;
    float: none;
    text-align: left;
    padding: 3px 0;
  }
  .footer-links {
    display: block;
  }
  .footer-links section {
    width: 100%;
  }

  .copyright {
    font-size: 0.7em;
  }
}

/* Extra-large devices */
@media only screen and (min-width: 81.25em) {
  footer {
    justify-content: center;
  }

  footer section {
    margin: 1em 5em;
  }
}

/* Styles for the modal pop on "Join Us" on the navbar"*/
.modal {
  display: none;
  position: fixed; 
  padding-top:3em;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: var(--pure-black); 
  background-color: var(--opaque-black); 

}
.modal-content {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  border-radius:0.3em;
  text-align:center;
  background-color:var(--very-light-grey);
  padding: 1.5em; 
  margin: auto; 
  width:50%;
}
.modal-content h2{
  width:100%;
  text-align:center;
  
}

.modal-content span{
  width:100%;
  margin-left:94%;
  
}
.modal-content p{
  margin:1.8em 0.8em;
  width:100%;
  letter-spacing: 0.1em;
}
.modal-content button{
  text-align:center;
  text-decoration:none;
  color:var(--white);
  background-color: var(--very-light-grey);
  padding:0.8em 2em;
  margin:auto;
  font-size:0.7em;
  border-radius: 0.3em;
  border:0.1em solid var(--green);
  
}
.modal-content a{
  text-decoration:none;
  font-size:1.5em;
  color:var(--white);
}

.modal-content button:hover{
  border: 0.3em solid var(--green);
  margin:-0.196em;;
}
.close {
  width:50%;
  color: var(--green); 
  font-size: 2em;  
  font-weight: bold;
  cursor: pointer;
}



